<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body class="container">

<nav th:replace="fragments :: admin-nav"></nav>

<h1 th:replace="fragments :: page"></h1>

<h3>Add Person Types</h3>
<form method="post" style="max-width:600px;" th:object="${persontype}" >
    <div class="form-group">
        <label th:for="type">Person Type</label>
        <input class="form-control" th:field="*{type}" />
        <span th:errors="*{type}" class="error"></span>
    </div>
    <input type="submit" value="Enter a Person Type" />
</form>
<br />
<h3>View Person Types</h3>
<ul>
    <li th:each="pt : ${pts}">
        <span th:text="${pt.type}"></span>
    </li>
</ul>

</body>
</html>