<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body class="container">

<nav th:replace="fragments :: admin-nav"></nav>
<h1 th:replace="fragments :: page"></h1>

<table border="1" class="table-view">
    <thead>
    <td>Name</td>
    <td class="table-cell">Description</td>
    <td>Reward Value</td>
    <td>Reward Cost</td>
    <td class="table-cell">Price</td>
    </thead>
    <tr th:each="service : ${services}">
        <td th:text="${service.name}"></td>
        <td th:text="${service.description}"></td>
        <td th:text="${service.rewardValue.value}"></td>
        <td th:text="${service.rewardValue.cost}"></td>
        <td th:text="${#numbers.formatCurrency(service.price)}"></td>
    </tr>
    <tfoot>
        <td colspan="5" align="right" th:text="${#numbers.formatCurrency(total)}"></td>
    </tfoot>
</table>

<p>Your technician will be <span th:text="${staff.fname + ' ' + staff.lname}"></span></p>

</body>
</html>