<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome to Sam's Nail Spa!</h1>

<div id="location">
    <table>
        <tr>
            <td rowspan="9">Map Goes here.</td><td>Email Button</td><td>Auto Call Button</td>
        </tr>
        <tr>
            <td></td><td colspan="2" style="center"><u>Working Hours</u></td><td></td>
        </tr>
        <tr>
            <td></td><td>Sunday</td><td>11:00 AM - 5:00 PM</td>
        </tr>
        <tr>
            <td></td><td>Monday</td><td>10:00 AM - 7:00 PM</td>
        </tr>
        <tr>
            <td></td><td>Tuesday</td><td>10:00 AM - 7:00 PM</td>
        </tr>
        <tr>
            <td></td><td>Wednesday</td><td>10:00 AM - 7:00 PM</td>
        </tr>
        <tr>
            <td></td><td>Thursday</td><td>10:00 AM - 7:00 PM</td>
        </tr>
        <tr>
            <td></td><td>Friday</td><td>10:00 AM - 7:00 PM</td>
        </tr>
        <tr>
            <td></td><td><b>Saturday</b></td><td><b>10:00 AM - 7:00 PM</b></td>
        </tr>
        <tr>
            <td colspan="3">Main Street Salon, 116 South Main Street, Saint Charles, MO, 63301</td>
        </tr>
    </table>
</div>
<br />
<div id="info">
    <table>
        <tr>
            <td>Website</td><td>Phone</td>
        </tr>
        <tr>
            <td></td><td>(314) 288-8063</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td>Business Type</td><td>Payment Methods</td>
        </tr>
        <tr>
            <td>Spa, Day Spa, Hair, Nail Salon, Waxing</td><td>Visa and MasterCard, Discover, American Express, Debit, Other Credit Cards, Cash, Checks</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td>Parking fees</td><td>WIFI access</td>
        </tr>
        <tr>
            <td>Free parking</td><td>Available</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td>Snack Bar</td><td>TV</td>
        </tr>
        <tr>
            <td>Available</td><td>Available</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td>Spoken languages</td><td>Kid Friendly</td>
        </tr>
        <tr>
            <td>English, Chinese, Cantonese</td><td>Yes</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td colspan="2">Special Instructions</td>
        </tr>
        <tr>
            <td colspan="2">Appointments only. Walk-ins are always welcome, but do not guarantee availability. I can help you schedule appointment, if you have trouble scheduling online. We also offer Rewards Points to get Free service. Please provide your email to keep track of your Reward Points.</td>
        </tr>
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td colspan="2">Cancellation Policy</td>
        </tr>
        <tr>
            <td colspan="2">A courtesy call of at least 24 hours notice is required. Failure to comply will result in an additional $35 cancellation fee automatic charged to your credit card on record.</td>
        </tr>
    </table>
</div>

</body>
</html>