<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:replace="fragments :: page"></h1>
<form method="post">
<table border="1" class="table-view">
    <thead>
        <td>Selection</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td></td>
    </thead>
    <tr th:each="person : ${persons}">
        <td><input type="checkbox" name="staff" th:value="${person.id}" th:id="${person.id}" /></td>
        <td th:text="${person.fName}">Image of Staff Member</td>
        <td th:text="${person.lName}">Experience/specialty of Staff member</td>
        <td>Selection button</td>
    </tr>
</table>
    <input type="submit" />
</form>
</body>
</html>