<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body class="container">

<nav th:replace="fragments :: user-login"></nav>
<h1 th:replace="fragments :: page"></h1>

<form method="post" style="max-width: 600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Service Name</label>
        <input type="text" class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Service Name</label>
        <input type="email" class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Service Name</label>
        <input type="password" class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="verify">Verify Password</label>
        <input type="password" class="form-control" th:field="*{verify}" />
        <span th:errors="*{verify}" class="error"></span>
    </div>
    <input type="submit" value="Login/Sign-in" />
</form>
<br />
<a href="/user/add">New User</a>

</body>
</html>