<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="${title}">Sam's Nail Spa</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body class="container">

<nav th:fragment="navigation" class="navigation">
    <a href="/web/">Home</a>|
    <a href="/web/services">Services</a>|
    <a href="/web/staff">Staff</a>|
    <a href="/web/about">About</a>
</nav>
<nav th:fragment="admin-nav" class="navigation">
    <a href="/admin/">Administration</a>|
    <a href="/admin/services">Services</a>|
    <a href="/admin/rewards">Reward Values</a>|
    <a href="/admin/person">Person</a>|
    <a href="/admin/person-type">Person Types</a>
</nav>
<nav th:fragment="user-login" class="navigation">
    <a href="/user/">User Login</a>|
    <a href="/user/profile">Profile</a>|
    <a href="/user/">Unknown Page</a>
</nav>
<h1 th:fragment="page" th:text="${page}" class="titled-pane"></h1>

</body>
</html>